html{
    background-color:beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    margin:0;
}

header{
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;

}
footer{
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 24px;
    align-items: center;
    grid-column-start:1;
    grid-column-end: 2;
}

main{
    max-width: 800px;
    margin: auto;
}

.main-page-book-review{
    background-color: white;
    border:1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
}

.book-cover{
    width: 200px;
    height: auto;
    display: grid;
    padding: 24px;
    grid-row-end:span 5
}

.book-title{
    font-weight: bold;
    font-size: 150%;
}

.book-rating{
    font-size: 125%;
}

.book-authors{
    color: dimgray
    ;
}


